<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
     <section name="microsoft.visualstudio.qualitytools" type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection, Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions" />
   </configSections>
  
  <appSettings>
    <add key="BaseUrl" value="https://www.tomtom.com/uam/UI/Login" />
    <add key="DriverType" value="Android" /><!-- Supported values: "Chrome", "Firefox", "Android" and "SauceLabsRemote"-->
    <add key="ChromeDriverPath" value="C:\chromedriver_win32" />
    <add key="DeviceName" value="52105c00e2972403" />
    <add key="PlatformName" value="Android" />
    <add key="PlatformVersion" value="7.0" />
    <add key="AppName" value="C:\Temp\Sample Android App Login Test_v4.0_apkpure.com.apk" />

    <add key="BrowserName" value="" />
    <add key="ValidUser" value="" />
    <add key="ValidPassword" value="" />
    <add key="LogPath" value="C:\Temp\Logs\" />
    <add key="ReportPath" value="C:\Temp\Reports\" />
    <add key="ScreenShotPath" value="C:\Temp\Screenshots\" />
    <add key="ExcelData" value="C:\Users\Rahul\source\repos\CSharpSeleniumFramework\TestData\TestData.xlsx" />
  </appSettings>
  <connectionStrings>
    <add name="ExcelConn" connectionString=".\TestData\TestData.xlsx" providerName="System.Data.Odbc" />
  </connectionStrings>
    <microsoft.visualstudio.qualitytools>
      <dataSources>
            <add name="LoginDataSource" connectionString="ExcelConn" dataTableName="Login$" dataAccessMethod="Sequential" />
        </dataSources>
    </microsoft.visualstudio.qualitytools>
  
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
