<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <unitTestProvider name="MsTest" />
  </specFlow>
  <appSettings>
    <add key="BaseUrl" value="https://developautomation.growthedition.com" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DriverType" value="Chrome" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <!-- Supported values: "Chrome", "Firefox", "Android" and "SauceLabsRemote"-->
    <add key="ChromeDriverPath" value="C:\selenium" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DeviceName" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="PlatformName" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="BrowserName" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="NoReset" value="true" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ValidUser" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ValidPassword" value="" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>